<mat-card class="movie-card">
    <img mat-card-image [src]="movie.imageUrl" height="400">
    <mat-card-content>
      <p>
        {{ movie.sinopse }}
      </p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button [routerLink]="['//construction']" mat-button>LIKE</button>
      <button [routerLink]="['//construction']" mat-button>SHARE</button>
    </mat-card-actions>
    <app-icon name="play_arrow"></app-icon> -->
    <section>
      <div class="card-button-row">
        <div class="card-flex-container">
          <div class="card-button-container">
            <button mat-fab class="botao">
              <app-icon name="play_arrow"></app-icon>
            </button>
          </div>
          <div class="card-button-container">
            <button mat-fab matTooltip="Adicionar à minha lista"  class="botao">
              <app-icon name="add"></app-icon>
            </button>
          </div>
          <div class="card-button-container">
            <button mat-fab matTooltip="Gostei"  class="botao">
              <app-icon name="thumb_up_alt"></app-icon>
            </button>
          </div>
          <div class="card-button-container">
            <button mat-fab matTooltip="Não é pra mim"  class="botao">
              <app-icon name="thumb_down_alt"></app-icon>
            </button>
          </div>
        </div>
      </div>
    </section>
</mat-card>  