<div class="filme-principal" style="background: url('{{ movie.folderUrl }}'); background-size: cover;">
    <div class="container">
        <h3 class="titulo">{{ movie.titulo }}</h3>
        <p class="descricao">{{ movie.sinopse }}</p>
        <div class="botoes">
            <button [routerLink]="['/construction']" class="botao">
                <a class="fas fa-play"></a>
                ASSISTIR AGORA
            </button>
            <button [routerLink]="['/movies/info', movie.id]" class="botao">
                <a class="fas fa-info-circle"></a>
                MAIS INFORMAÇÕES
            </button>
        </div>
    </div>
</div>