:root{
    --vermelho:#E50914;
    --preto:#141414;
}

.navbar-brand {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial', Times;
    font-size: 40px;
}

.nav-item {
    font-family: 'Arial', Times;
}